/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{    
     height:100%; 
     padding-top: 10px;
     background-image: linear-gradient(345deg, #ffffd0 0, #f9ffd5 8.33%, #e6ffd9 16.67%, #d2ffdc 25%, #bfffdc 33.33%, #adffda 41.67%, #9df2d5 50%, #90e1ce 58.33%, #87d1c7 66.67%, #81c5c1 75%, #7dbabc 83.33%, #7ab2b9 91.67%, #7aadb7 100%);
  
}

main {
     display: flex;
     flex-direction: column;
     align-items: center;
 
}

#shape {
     height: 200px;
     width: 200px;
     background-color: grey;
     display: none;
     position: relative;
     border: 2px solid black;
     bottom: 10px;
 
  }
 
  #bold { 
 
     font-weight: bold;
 
  }

  #buttonClass {
       display: flex;
  }
 .button {
      border-radius: 5px;
      padding: 4px;
      background-color:#d2ffdc;
      /* color:#7aadb7; */
      width: 50%;
      margin: 10px;
 }
 

